/*body {*/
/*  padding-top: 50px;*/
/*  	background-color: #D62F01;*/
/*    border-color: #D62F01;*/
/*}*/

.navbar {
	background-color: #cc0000;
    border-color: #cc0000;
}

.navbar-nav li a{
    color: black;
}


.navbar-brand {
    color: black;
}

.jumbotron {
	padding: 100px;
	height: 500px;
	
}

#myCarousel {
    padding: 100px;
    height: 100px;
}

.jumbotron h1{
	color: black;
}
.jumbotron {
	color:#cc0000;
	margin: 0;
}

.jumbotron .btn {
	background-color:#cc0000;
	border-color: #cc0000;
}

.section{
	height: 300px;
}

.section h1 {
	color: :#cc0000;
}


.donate h3 {
	color: :#cc0000;
}


.grey-light {
    background-color: #cc0000;
}

.orange {
	background-color: #cc0000;
}


.footer {

    background-color: #cc0000;
   border-color:#cc0000;
   padding-top: 50px;
   padding-bottom: 50px;

}

.sponsor {
	max-width: 100px;
    opacity: 0.35;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 0.5em;
}
img {
    max-width: 100%;
}

.carousel-inner > .item > img {
  width:2000px;
  height:400px;
}

#social ul{
	clear:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}

#social li {
	display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
}

#social ul li img
{
    margin: 10px;
    height: 25px;
}

#location-list{
    margin-top: 75px;
    background-color: #FFFFFF;
}

 p {
     color: black;
     font-family:'Rubik', sans-serif;
    
 }
 
 /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #cc0000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.facebook:hover {
    opacity: 0.7;
}

.twitter:hover {
    opacity: 0.7;
}

.instagram:hover {
    opacity: 0.7;
}

#li:hover {
    opacity: 0.7;
}